* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/background.jpg');
}

section {
    display: flex;
    justify-content: center;
    margin: auto;
}

.dws-wrapper {
    margin: 75px 0 75px 0;
}

.box-image {
    font-family: 'Cuprum';
    width: 500px;
    height: 300px;
    border: 5px outset #373737;
    overflow: hidden;
    position: relative;
}

.box-image img {
    height: 300px;
    transition: .5s;
}

/* BarberShop */

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.barber-container::before, .barber-container::after {
    content: ' ';
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DB6814;
    opacity: .1;
    transition: .1s;
}

.barber-container::before {
    transform: translateX(-125%) rotate(45deg);
}

.barber-container::after {
    transform: translateX(195%) rotate(45deg);
}

.barber-text {
    position: absolute;
    top: 20%;
    color: #ffffff;
    text-align: center;
    z-index: 10;
}

.barber-text h1 {
    margin-bottom: 20px;
    font-size: 30px;
    transform: scale(0);
    transition: .5s;
}

.barber-text p {
    font-size: 18px;
    margin: 0 100px;
    text-align: justify;
    transform: scale(2);
    transition: .5s;
    opacity: 0;
}

a.barber-button {
    position: absolute;
    top: 105%;
    left: 37%;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 14px 30px;
    border-radius: 8px;
    opacity: 0;
    transition: .2s ease-in-out;
    overflow: hidden;
}

a.barber-button::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: -75px;
    height: 55px;
    width: 50px;
    background: linear-gradient(270deg, rgba(255,255,255,1), rgba(255,255,255,.5));
    transform: skewX(-45deg);
}

a.barber-button:hover::before {
    left: 170px;
    transition: .5s ease-in-out;
}

a.barber-button:active {
    border: 2px solid #b3b3b3;
}

.box-image:hover .barber-img {
    transform: rotate(30deg) scale(2);
    filter: blur(2px);
}

.box-image:hover .barber-container::before {
    transform: translateX(92%) rotate(45deg) scale(2);
    transition: .5s;
    opacity: .6;
}

.box-image:hover .barber-container::after {
    transform: translateX(-25%) rotate(45deg) scale(2);
    transition: .5s;
    opacity: .6;
}

.box-image:hover .barber-text .barber-h {
    transform: scale(1);
}

.box-image:hover .barber-text .barber-p {
    transform: scale(1);
    opacity: 1;
}

.box-image:hover a.barber-button {
    opacity: 1;
    transition: .5s;
}

.box-image:hover {
    border: 5px inset #373733;
}

/* Passionate Julia */

.julia-text {

}